name: Tests
run-name: ${{ github.actor }} is testing CharLib

on: [push, pull_request]

jobs:

  Regression:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: "Install CharLib"
        run: |
          pip install -e .[docs]

      - name: "Run regression tests"
        run: |
          pytest

  Characterize-gf180mcu_osu_sc:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: "Install ngspice"
        run: |
          sudo apt update && sudo apt install -y libngspice0-dev

      - name: "Install CharLib"
        run: |
          pip install -e .[docs]

      - name: "Download gf180mcu_osu_sc"
        run: |
          git clone https://github.com/infinitymdm/gf180mcu_osu_sc.git
          pushd gf180mcu_osu_sc
          mkdir models
          curl https://raw.githubusercontent.com/fossi-foundation/globalfoundries-pdk-libs-gf180mcu_fd_pr/refs/heads/main/models/ngspice/sm141064.ngspice > models/sm141064.ngspice
          curl https://raw.githubusercontent.com/fossi-foundation/globalfoundries-pdk-libs-gf180mcu_fd_pr/refs/heads/main/models/ngspice/design.ngspice > models/design.ngspice
          popd

      - name: "Characterize 9t"
        run: |
          pushd gf180mcu_osu_sc/gf180mcu_osu_sc_gp9t3v3
          charlib run . -o charlib-test.lib -j16
          popd

      - name: "Characterize 12t"
        run: |
          pushd gf180mcu_osu_sc/gf180mcu_osu_sc_gp12t3v3
          charlib run . -o charlib-test.lib -j16
          popd

      - name: "Upload results"
        uses: actions/upload-artifact@v4
        with:
          name: characterization-results
          path: |
            gf180mcu_osu_sc/gf180mcu_osu_sc_gp9t3v3/charlib-test.lib
            gf180mcu_osu_sc/gf180mcu_osu_sc_gp12t3v3/charlib-test.lib
